{{>layouts/header}}
<div class="container mt-4">
    <!-- 관리자 모드 타이틀 -->
    <h2 class="text-center">관리자 모드</h2>
        <div class="tab-pane fade show active" id="members" role="tabpanel" aria-labelledby="members-tab">
            <div class="mt-4">
                <h3>회원 목록</h3>
                <div class="row">
                    {{#members}}
                        <div class="col-md-4 mb-4">
                            <div class="card shadow-sm h-100">
                                <div class="card-body text-center">
                                    <h5 class="card-title">{{username}}</h5>
                                    <a href="/members/{{userid}}" class="btn btn-primary btn-sm">회원 관리</a>
                                    <a href="/usersell/{{userid}}" class="btn btn-secondary btn-sm">판매 내역 관리</a>
                                </div>
                            </div>
                        </div>
                    {{/members}}
                </div>
            </div>
        </div>
    </div>
</div>
{{>layouts/footer}}
