{{>layouts/header}}
<div class="container mt-5 d-flex justify-content-center">
    <div class="card shadow-sm" style="width: 24rem;">
        <div class="card-body text-center">
            <h4 class="card-title mb-4">회원 정보</h4>
            <!--            <p><strong>ID:</strong> {{member.userid}}</p>-->
            <p><strong>아이디:</strong> {{member.username}}</p>
            <p><strong>이메일:</strong> {{member.email}}</p>
            <p><strong>전화번호:</strong> {{member.phonenumber}}</p>
            <p><strong>주소:</strong> {{member.addr}}</p>

            <hr>
            <div class="d-flex justify-content-between">
                {{#isAdmin}}
                    <a href="/members/admin" class="btn btn-secondary">뒤로가기</a>
                {{/isAdmin}}
                <a href="/members/{{member.userid}}/edit" class="btn btn-success">수정하기</a>
                {{^isAdmin}}
                    <a href="/products/all" class="btn btn-secondary">완료하기</a>
                {{/isAdmin}}
            </div>
        </div>
    </div>
</div>
{{>layouts/footer}}