{{>layouts/header}}
<div class="container mt-4">

    {{#isAdmin}}
        <h2 class="text-center">관리자 모드 상품 관리</h2>
    {{/isAdmin}}

    {{#isAdmin}}
        <!-- Add Product Button -->
        <div class="text-end mt-3">
            <a href="/products/new" class="btn btn-success">상품 등록하기</a>
        </div>
    {{/isAdmin}}
    <br/>
    <div class="row">
        {{#products}}
            <div class="col-md-4 mb-4">
                <!-- Product Card -->
                <div class="card shadow-sm h-100">
                    <a href="/products/{{id}}" class="text-decoration-none">
                        <img src="../images/uploads/{{pimg}}" alt="Product Image" class="card-img-top" style="height: 200px; object-fit: cover;">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">{{pname}}</h5>
                        <p class="card-text text-muted">{{pcategoryName}}</p> <!-- 카테고리 이름 출력 -->
                        <p class="card-text text-success fs-4">{{formattedPrice}}  원</p>
                        {{#isAdmin}}
                            <div class="d-flex justify-content-between">
                                <a href="/products/{{id}}/delete" class="btn btn-primary btn-sm">삭제하기</a>
                                <a href="/products/{{id}}/edit" class="btn btn-success btn-sm">수정하기</a>
                            </div>
                        {{/isAdmin}}
                    </div>
                </div>
            </div>
        {{/products}}
    </div>

</div>
{{>layouts/footer}}
