{{>layouts/header}}
<form class="container" action="/products/create" method="post">
    <div class="mb-3">
        <label class="form-label">상품명</label>
        <input class="form-control" name="pname">
    </div>
    <div class="mb-3">
        <label class="form-label">상품가격</label>
        <textarea class="form-control" name="pprice"></textarea>
    </div>
    <div class="mb-3">
        <label class="form-label">이미지</label>
        <input class="form-control" name="pimg">
    </div>
    <div class="mb-3">
        <label class="form-label">카테고리</label>
        <select class="form-control" name="categoryId" required>
            <option value="">카테고리 선택</option>
            <option value="1">카테고리 1</option>
            <option value="2">카테고리 2</option>
            <option value="3">카테고리 3</option>
            <!-- 실제 카테고리 목록을 서버에서 동적으로 추가 -->
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="/products">목록 페이지</a>
</form>
{{>layouts/footer}}
